:root {
  --hero-font-family: "Wellfleet", monospace;
  --secondary-font-family: "Courier Prime", monospace;
  --branding-color: rgba(112, 34, 131, 1);
  --secondary-color: rgba(160, 95, 150, 1);
  --tertiary-color: rgba(246, 219, 245, 1);
}

.hero {
  background: linear-gradient(
    102.3deg,
    rgb(147, 39, 143) 5.9%,
    rgb(234, 172, 232) 64%,
    rgb(246, 219, 245) 89%
  );
  text-align: center;
  padding: 160px 20px;
  font-family: var(--hero-font-family);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--tertiary-color);
  background-color: var(--branding-color);
  opacity: 0.8;
}

.centered-p {
  font-family: var(--hero-font-family);
  font-weight: 900;
}

.project-description {
  padding: 120px 60px 0 !important;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

h2,
a.btn-branding {
  font-family: var(--hero-font-family);
}

.col-lg-6 {
  background-color: var(--tertiary-color);
  padding: 0;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .project-description {
    padding: 40px !important;
    text-align: center;
  }
  h1 {
    font-size: 66px;
  }
  h2 {
    font-size: 28px;
  }
  .centered-p {
    font-size: 20px;
  }
  .project-description p {
    text-align: center !important;
  }
}
@media (max-width: 1400px) {
  .project-description {
    padding: 35px 25px 0 !important;
  }
  h2 {
    font-size: 24px;
  }
  .project-description p {
    font-size: 14px;
    text-align: left;
  }
}
